* {
 padding: 0;
 margin:0;
}
.lead {
 margin-top: 20px;
}
.mainHeader {
 border-bottom: 2px solid #333;
 padding: 20px 0;
}
.mainHeader span {
 font-size: 12px;
}
#app {}
section {
 margin:0 auto;
}
#smsForm {
 padding:50px 0;
 text-align: center;
}
.smsForm input {
 width: 100%;
}
.mainView {
 padding: 50px 0;
}
.submitButton {
 margin-top:30px;
}